rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write to all documents to ensure out-of-the-box operation and data syncing
    match /candidates/{candidateId} {
      allow read, write, create, update, delete: if true;
    }

    match /employees/{employeeId} {
      allow read, write, create, update, delete: if true;
    }

    // Default deny for everything else
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
